<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1문의</title>

    <!-- Main CSS : Header, Main, Footer -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/customer/customer01.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Bootstarp JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>

</head>
<body>
<!-- 헤더 -->
<div th:replace="fragments/headerTop :: headerTopFragment" id="headerTop"></div>
<header id="header" th:replace="fragments/header :: headerFragment" class="sticky-top"></header>

<!-- 메인 -->
<!-- 1:1문의 -->
<!-- COMMON -->
<div class="commonSection1">
    <div class="commonContent1">
        <img src="/img/member/sub-visual02.jpg"
             style="width: 100%; height: 100%;">
        <div class="commonContent2 text-center">
            <div>
                <h3>CUSTOMER</h3>
            </div>
            <div>
                <p><img src="/img/icon-home.png"> > 고객지원 > 1:1문의</p>
            </div>
        </div>
    </div>
</div>
<!-- COMMON - 드랍다운 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <button class="homeBtn">H</button>
    </a>
    <ul class="navbar-nav mr-auto navbar-nav-scroll"
        style="max-height: 100px;">

        <li class="nav-item dropdown dropdownHide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
               data-toggle="dropdown" aria-expanded="false">
                고객지원
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">회사소개</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">사업분야</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">제품안내</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">커뮤니티</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">고객지원</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown"
               role="button" data-toggle="dropdown" aria-expanded="false">
                1:1문의
            </a>
            <ul class="dropdown-menu asd">
                <li><a class="dropdown-item" href="/customer/one2one">1:1문의</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/customer/qna">묻고답하기</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/customer/faq">FAQ</a></li>
            </ul>
        </li>
    </ul>
</nav>

<!-- 1:1문의 -->
<div class="communitySection2 container text-center">
    <div>
        <div>1:1문의</div>
        <div>The design and maintenance are excellent.</div>
    </div>
    <div class="question">
        <form action="/api/customer/one2one" method="post" name="questionForm" onsubmit="return validateForm();">
            <table>
                <tr>
                    <td>구분</td>
                    <td><select name="cate">
                        <option value="1">로그인</option>
                        <option value="2">회원가입</option>
                        <option value="3">이용안내</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>성명</td>
                    <td><input type="text" class="inputStyle1" name="name"></td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td><input type="text" class="inputStyle1" name="tel"></td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td><input type="text" class="inputStyle2" name="email"></td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>
                        <input type="text" style="margin-bottom:10px;" id="postcode" placeholder="우편번호">
                        <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" style="margin-bottom:10px;" class="inputStyle1" name="address"
                               id="address" placeholder="주소"><br>
                        <input type="text" class="inputStyle1" name="detailAddress" id="detailAddress"
                               placeholder="상세주소">
                        <input type="hidden" class="inputStyle1" id="extraAddress" placeholder="참고항목">
                    </td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><input type="text" class="inputStyle2" name="title"></td>
                </tr>
                <tr>
                    <td>설명</td>
                    <td><textarea name="desc" rows="10" style="width: 90%;"></textarea></td>
                </tr>
            </table>
            <div class="btn">
                <input type="image" src="/img/customer/btn_confirm.gif">
                <a href="/"><img src="/img/customer/btn_cancel.gif"></a>
            </div>
        </form>
    </div>
</div>
<!-- 푸터 -->
<div th:replace="fragments/footer :: footerFragment" id="footer"></div>
<script>
    const validateForm = () => {
        const form = document.forms["questionForm"];
        if (!form) return false;
        const name = form["name"];
        const tel = form["tel"];
        const email = form["email"];
        const address = form["address"];
        const detailAddress = form["detailAddress"]
        const title = form["title"];
        const desc = form["desc"];

        const checkList = [
            [name, "성명을"],
            [tel, "전화번호를"],
            [email, "이메일을"],
            [address, "주소를"],
            [detailAddress, "상세주소를"],
            [title, "제목을"],
            [desc, "설명을"],
        ];

        for (const [input, label] of checkList) {
            if (input.value === "") {
                alert(`${label} 입력해 주세요.`);
                if (!(input instanceof RadioNodeList))
                    input.focus();
                return false;
            }
        }
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        if (!emailPattern.test(email.value)) {
            alert("이메일 형식이 맞지 않습니다.");
            email.focus();
            return false;
        }
        return true;
    }
</script>
<!-- 다음 우편번호 서비스 API -->
<!-- http://postcode.map.daum.net/guide -->

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("extraAddress").value = extraAddr;

                } else {
                    document.getElementById("extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>

</body>
</html>