<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${languagePack.get('자판기')}">자판기</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div
        class="flex flex-col bg-red-700 p-2 gap-2 text-white font-bold"
>
    <!-- 상단부 -->
    <h1 th:text="${languagePack.get('★자판기 프로그램★')}" class="bg-white text-center rounded-t-lg text-red-700">
        ★자판기 프로그램★
    </h1>
    <div class="flex flex-row vertical-align-center">
        <h1 th:text="${languagePack.get('▽ 자판기 상품 목록')}" class="bg-white text-center rounded-r-lg text-red-700 w-1/3">
            ▽ 자판기 상품 목록
        </h1>
        <div class="flex w-7/12 flex-row justify-center items-center">
            한글
            <a th:href="${languagePack.get('lang').equals('eng')? '/kor':'/eng'}"
               th:class="|border border-white border-2 rounded-full w-8 h-4 box-content ${languagePack.get('lang').equals('eng') ? 'text-right':'text-left'} mx-2|"
            >
                <span class="relative -top-1"> ● </span>
            </a>
            ENG
        </div>
        <span
                class="w-1/12 border border-white border-2 rounded-full text-center"
                style="letter-spacing: -0.2rem; text-indent: -0.2rem"
        >
          ----
        </span>
    </div>
    <!-- 중하단부 -->

    <!-- 상품 목록-->
    <div class="bg-white text-center text-black p-1">
        <h1 th:if="${products.isEmpty()}" th:text="${languagePack.get('상품 목록이 비어있습니다.')}">상품 목록이 비어있습니다.</h1>
        <table th:unless="${products.isEmpty()}" class="border border-red-700 w-full">
            <thead>
            <tr>
                <td th:text="${languagePack.get('번호')}" class="border border-red-700 p-2 text-red-700">번호</td>
                <td th:text="${languagePack.get('상품명')}" class="border border-red-700 p-2">상품명</td>
                <td th:text="${languagePack.get('가격')}" class="border border-red-700 p-2">가격</td>
                <td th:text="${languagePack.get('유통기한')}" class="border border-red-700 p-2">유통기한</td>
                <td th:text="${languagePack.get('수정')}" class="border border-red-700 p-2">수정</td>
                <td th:text="${languagePack.get('삭제')}" class="border border-red-700 p-2">삭제</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${ products }">
                <td th:text="${product.getId()}" class="border border-red-700 p-2">1</td>
                <td th:text="${product.getName()}" class="border border-red-700 p-2">상추버거</td>
                <td th:text="${product.getPrice()}" class="border border-red-700 p-2">3000</td>
                <td th:text="${product.getLimitDate()}" class="border border-red-700 p-2">2024-03-26</td>
                <td class="border border-red-700 p-2">
                    <a th:text="${languagePack.get('수정')}"
                       th:href="|/${languagePack.get('lang')}/edit?id=${ product.getId() }|"
                       class="bg-blue-500 text-white p-2 px-3 rounded-lg">수정</a>
                </td>
                <td class="border border-red-700 p-2">
                    <a th:text="${languagePack.get('삭제')}"
                       th:href="|/${languagePack.get('lang')}/delete?id=${ product.getId() }|"
                       class="bg-red-500 text-white p-2 px-3 rounded-lg">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="flex flex-row">
        <div class="w-7/12"></div>
        <h1 class="bg-white text-center w-5/12 rounded-l-lg text-red-700">
            <span th:text="${languagePack.get('▲ 총 ')}">▲ 총 </span>
            <span th:text="${products.size()}" class="text-black">1</span>
            <span th:text="${languagePack.get('개의 상품이 있습니다.')}">개의 상품이 있습니다.</span>
        </h1>
    </div>
    <a th:text="${languagePack.get('상품 추가하기!')}" th:href="|/${languagePack.get('lang')}/new|"
       class="bg-red-500 rounded p-1 px-4 w-fit mx-auto">
        상품 추가하기!
    </a>
</div>
</body>
</html>
