<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>로그인 페이지</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
            integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <script></script>
</head>
<body>
<div class="container-fluid p-4" style="background-color: #eee">
    <div class="row">
        <div
                class="container-fluid"
                style="
            background-color: white;
            max-width: 1200px;
            border-radius: 20px;
          "
        >
            <div class="row">
                <!-- 입력폼 -->
                <form
                        name="formJoin"
                >
                    <div class="col-12 col-lg-6 order-2 order-lg-1">
                        <h1 class="my-5 text-center">Login</h1>
                        <div id="loginAlert" role="alert"
                             style="display: none">
                        </div>
                        <div class="mb-3 d-flex flex-row">
                            <div
                                    class="d-flex me-2 justify-content-center align-items-center"
                            >
                                <i class="fa-solid fa-user fa-xl"></i>
                            </div>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="loginInputName"
                                    placeholder="Your Name"
                            />
                        </div>

                        <div class="mb-3 d-flex flex-row">
                            <div
                                    class="d-flex me-2 justify-content-center align-items-center"
                            >
                                <i class="fa-solid fa-lock fa-xl"></i>
                            </div>
                            <input
                                    type="password"
                                    class="form-control"
                                    id="loginInputPw"
                                    placeholder="Your Password"
                            />
                        </div>

                        <div class="mb-3 d-flex flex-row justify-content-center gap-3">
                            <div class="text-center my-5">
                                <button type="button" class="btn btn-primary" onclick="login();">
                                    로그인
                                </button>
                            </div>
                            <div class="text-center my-5">
                                <button
                                        type="button"
                                        class="btn btn-danger"
                                        data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"
                                >
                                    회원가입
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Sign up</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div
                            class="container-fluid"
                            style="
            background-color: white;
            max-width: 1200px;
            border-radius: 20px;
          "
                    >
                        <div class="row">
                            <!-- 입력폼 -->
                            <form
                                    name="formJoin"
                            >
                                <div class="col-12 col-lg-6 order-2 order-lg-1">
                                    <div
                                            id="joinAlert"
                                            role="alert"
                                            style="display: none"
                                    >
                                        중복된 아이디가 있습니다.
                                    </div>
                                    <div class="mb-3 d-flex flex-row">
                                        <div
                                                class="d-flex me-2 justify-content-center align-items-center"
                                        >
                                            <i class="fa-solid fa-user fa-xl"></i>
                                        </div>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="inputName"
                                                placeholder="Your Name"
                                                th:value="${inputName}"
                                        />
                                        <button
                                                type="button"
                                                id="nameCheckBtn"
                                                onclick="fetch_dupl();"
                                                class="btn btn-primary ms-1"
                                        >
                                            중복확인
                                        </button>
                                    </div>
                                    <div class="mb-3 d-flex flex-row">
                                        <div
                                                class="d-flex me-2 justify-content-center align-items-center"
                                        >
                                            <i class="fa-solid fa-envelope fa-xl"></i>
                                        </div>
                                        <input
                                                type="email"
                                                class="form-control"
                                                id="inputEmail"
                                                placeholder="Your Email"
                                        />
                                    </div>
                                    <div class="mb-3 d-flex flex-row">
                                        <div
                                                class="d-flex me-2 justify-content-center align-items-center"
                                        >
                                            <i class="fa-solid fa-lock fa-xl"></i>
                                        </div>
                                        <input
                                                type="password"
                                                class="form-control"
                                                id="inputPw"
                                                placeholder="Your Password"
                                        />
                                    </div>
                                    <div class="mb-3 d-flex flex-row">
                                        <div
                                                class="d-flex me-2 justify-content-center align-items-center"
                                        >
                                            <i class="fa-solid fa-key fa-xl"></i>
                                        </div>
                                        <input
                                                type="password"
                                                class="form-control"
                                                id="inputPw2"
                                                placeholder="Repeat your Password"
                                        />
                                    </div>

                                    <div class="mb-3 form-check">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                id="exampleCheck1"
                                        />
                                        <label class="form-check-label" for="exampleCheck1"
                                        >I agree all statement
                                            <a style="color: cornflowerblue">Terms of service</a>
                                        </label>
                                    </div>

                                    <div class="mb-3 d-flex flex-row justify-content-center gap-3">
                                        <div class="text-center my-5">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">뒤로가기</button>
                                        </div>
                                        <div class="text-center my-5">
                                            <button type="button" class="btn btn-primary" onclick="join();">
                                                회원가입
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- 이미지 -->
                            <div
                                    class="col-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-center align-items-center"
                            >
                                <img
                                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                        alt="이미지"
                                        style="object-fit: contain; width: 100%"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const join = () => {
        if(!checkForm()) return;
        const inputName = document.getElementById("inputName").value;
        const inputPw = document.getElementById("inputPw").value;
        const inputEmail = document.getElementById("inputEmail").value;
        fetch("/api/join", {
            method:"POST",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({inputName,inputPw, inputEmail})
        }).then(res=>res.json()).then(json=>{
            setAlert("loginAlert", json.message, json.status);
            var myModalEl = document.getElementById('staticBackdrop');
            var modal = bootstrap.Modal.getInstance(myModalEl)
            modal.hide();
            clearJoinForm();
        });
    }
    const login = () => {
        const inputInputName = document.getElementById("loginInputName");
        const inputInputPw = document.getElementById("loginInputPw");
        const inputName = inputInputName.value;
        const inputPw = inputInputPw.value;
        if(inputName==="" || inputPw===""){
            setAlert("loginAlert","아이디와 비밀번호를 확인해 주세요.", "alert-danger");
            return;
        }
        fetch("/api/login", {
            method:"POST",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({inputName,inputPw})
        }).then(res=>res.json()).then(json=>{
            setAlert("loginAlert", json.message, json.status);
            inputInputName.value = "";
            inputInputPw.value="";
        });
    }
    const fetch_dupl = () => {
        const name = document.getElementById("inputName").value;
        if (name === "") {
            alert("아이디를 입력해주세요.")
            return;
        }
        fetch(`/api/check-dupl?inputName=${name}`).then(res=>res.json()).then(json=>{
            setAlert("joinAlert", json.message, json.status);
            if(json.status === 'alert-success'){
                document.getElementById("inputName").disabled = true;
                document.getElementById("nameCheckBtn").disabled = true;
            }
        });
    }
    const checkForm = () => {
        const name = document.getElementById("inputName").value;
        const email = document.getElementById("inputEmail").value;
        const pw = document.getElementById("inputPw").value;
        const pw2 = document.getElementById("inputPw2").value;
        const terms = document.getElementById("exampleCheck1").checked;
        for ([input, label] of [[name, "아이디를"], [email, "이메일을"], [pw, "비밀번호를"],]) {
            if (input === "") {
                alert(`${label} 입력해 주세요.`);
                return false;
            }
        }
        if (pw !== pw2) {
            alert("비밀번호가 일치하지 않습니다.")
            return false;
        }

        if(document.getElementById("inputName").disabled === false){
            alert("아이디 중복확인을 해 주세요.")
            return false;
        }
        if (terms === false) {
            alert("약관에 동의해 주세요.")
            return false;
        }
        return true;
    }
    const clearJoinForm = () => {
        document.getElementById("inputName").value=""
        document.getElementById("inputEmail").value=""
        document.getElementById("inputPw").value=""
        document.getElementById("inputPw2").value=""
        document.getElementById("exampleCheck1").checked=false;
        document.getElementById("inputName").disabled = false;
        document.getElementById("nameCheckBtn").disabled = false;
        disableAlert("joinAlert");
    }
    const setAlert = (target, message, alertStatus) => {
        const alertContainer = document.getElementById(target);
        alertContainer.innerText = message;
        alertContainer.className = "alert " +alertStatus;
        alertContainer.style={"display":""};
    }
    const disableAlert = (target) => {
        const alertContainer = document.getElementById(target);
        alertContainer.innerText = "";
        alertContainer.className = "alert";
        alertContainer.style={"display":"none"};
    }



</script>

<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"
></script>
</body>
</html>
