<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문 목록</title>
    <link th:href="@{/css/output.css}" rel="stylesheet"/>
</head>
<style>
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<body>
<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="flex flex-col">
    <table class="border border-gray-500 mx-auto">
        <thead>
        <tr class="border border-gray-500 px-2 py-1">
            <th class="border border-gray-500 px-2 py-1">글번호</th>
            <th class="border border-gray-500 px-2 py-1">제목</th>
            <th class="border border-gray-500 px-2 py-1">쓰니</th>
            <th class="border border-gray-500 px-2 py-1">작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${paging}">
            <td class="border border-gray-500 px-2 py-1 text-center">

                <a th:href="@{|/question/detail/${question.id}|}"
                   th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></a>
            </td>
            <td class="border border-gray-500 px-2 py-1">
                <a th:href="@{|/question/detail/${question.id}|}"
                   th:text="${question.subject}"></a>
                <span class="text-orange-500 text-sm mx-1"
                      th:if="${#lists.size(question.answerList) > 0}"
                      th:text="|[${#lists.size(question.answerList)}]|">
                    </span>
            </td>
            <td class="border border-gray-500 px-2 py-1">
                <a th:href="@{|/question/detail/${question.id}|}"
                   th:if="${question.author != null}"
                   th:text="${question.author.username}"></a>
            </td>
            <td class="border border-gray-500 px-2 py-1">
                <a th:href="@{|/question/detail/${question.id}|}"
                   th:text="${#temporals.format(question.getCreateDate(), 'yyyy-MM-dd HH:mm')}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/question/create}" class="border border-gray-500 rounded m-1 p-1 mx-auto">질문 등록하기</a>
    <div class="mx-auto">
        <input type="text" id="search_kw" class="border border-gray-500 rounded m-1 p-1" th:value="${kw}"/>
        <button class="border border-gray-500 rounded m-1 p-1 mx-auto" type="button" id="btn_search">찾기</button>
    </div>
</div>
<nav th:if="${!paging.isEmpty()}" aria-label="Page navigation" class="flex flex-row justify-center">
    <ul class="inline-flex -space-x-px text-sm m-2">
        <!-- 이전 -->
        <li>
            <a th:classappend="${!paging.hasPrevious()} ? 'disabled'"
               href="javascript:void(0)" th:data-page="${paging.number - 1}"
               class="page-link flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Previous
            </a>
        </li>
        <!--번호-->
        <li th:each="page: ${#numbers.sequence(0, paging.totalPages - 1)}"
            th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
            th:classappend="${page == paging.number} ? 'text-blue-500 bg-blue-200 border-blue-500'">
            <a th:text="${page}" href="javascript:void(0)" th:data-page="${page}"
               class="page-link flex items-center justify-center px-3 h-8 leading-tight border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">
                2
            </a>
        </li>
        <!-- 다음 -->
        <li>
            <a th:classappend="${!paging.hasNext()} ? 'disabled'"
               href="javascript:void(0)" th:data-page="${paging.number+1}"
               class="page-link flex items-center justify-center px-3 h-8 leading-tight bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">
                Next
            </a>
        </li>
    </ul>
</nav>
<form th:action="@{/question/list}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${kw}">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
</form>

<script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function () {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
</body>
</html>