<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- footer -->
<div th:fragment="pwFindFragment">
    <div class=" d-flex justify-content-center">
        <div>
            <form action="#" name="passwordFindForm">
                <table>
                    <tr>
                        <td colspan="2">비밀번호 찾기</td>
                    </tr>
                    <tr>
                        <td colspan="2">비밀번호를 잊어버리셨나요?
                            <br>회원님의 성명과 아이디,이메일을 입력하여 주세요.
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">
                            <img src="/img/member/txt_join1.gif">
                            <img src="/img/member/txt_login_01.gif">
                            <img src="/img/member/txt_email.gif">
                        </td>
                        <td style="width: 80%;">
                            <input type="text" name="userName">
                            <input type="text" class="idText" name="userID">
                            <input type="text" class="emailText" name="userEmail">
                        </td>
                    </tr>
                </table>
            </form>
            <div id="pwFindMessage"></div>
            <div><input type="image" src="/img/member/btn_confirm.gif" onclick="findPw();"></div>
        </div>
    </div>
    <script>
        const findPw = () => {
            const userName = document.forms["passwordFindForm"]["userName"];
            const userID = document.forms["passwordFindForm"]["userID"];
            const userEmail = document.forms["passwordFindForm"]["userEmail"];
            if (userName.value === "") {
                alert("이름을 입력해 주세요.")
                userName.focus();
                return;
            }
            if (userID.value === "") {
                alert("아이디를 입력해 주세요.")
                userID.focus();
                return;
            }
            if (userEmail.value === "") {
                alert("이메일을 입력해 주세요.")
                userEmail.focus();
                return;
            }
            fetch("/api/member/findPw", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({userName: userName.value, userId: userID.value, userEmail: userEmail.value})
            }).then(res => res.json()).then(json => {
                $("#pwFindMessage")[0].innerText = json.message;
                $("#pwFindMessage")[0].style.color = json.status;
            });
        }
    </script>
</div>
</html>