<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/modifyAction" method="post" onsubmit="return checkForm();" style="display:flex; flex-direction:column;">
    <input type="hidden" name="id" id="id" th:value="${member.id()}" required/>
    <label>
        아이디
        <input type="text" name="userId" id="userId" th:value="${member.userId()}" maxlength="20" required/>
    </label>
    <label>
        비밀번호
        <input type="password" name="userPw" id="userPw" th:value="${member.userPw()}" maxlength="20" required/>
    </label>
    <label>
        이름
        <input type="text" name="userName" id="userName" th:value="${member.userName()}" maxlength="50"/>
    </label>
    <label>
        가입일자
        <input type="date" name="joinDate" id="joinDate" th:value="${member.joinDate()}" maxlength="50"/>
    </label>
    <label>
        주소
        <input type="text" name="userAddress" id="userAddress" maxlength="100"/>
    </label>
    <label>
        권한
        <select name="userRole" th:value="${member.userRole()}" required>
            <option value="ROLE_USER">일반회원</option>
            <option th:selected="${member.userRole()=='ROLE_ADMIN'}" value="ROLE_ADMIN">관리자</option>
        </select>
    </label>
    <a type="button" href="/">취소</a>
    <button type="submit">수정</button>

</form>
<script>
    const checkForm = () => {
        const userId = document.getElementById("userId").value;
        const userPw = document.getElementById("userPw").value;
        const userName = document.getElementById("userName").value;
        const joinDate = document.getElementById("joinDate").value;
        const userAddress = document.getElementById("userAddress").checked;
        for (const [input, label] of [[userId, "아이디를"], [userName, "이름을"], [userPw, "비밀번호를"], [joinDate, "가입일을"], [userAddress, "주소를"],]) {
            if (input === "") {
                alert(`${label} 입력해 주세요.`);
                return false;
            }
        }
        return true;
    }
</script>
</body>
</html>