<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{title.page}">자판기</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body onload="fetchProducts()">
<!--메인화면-->
<div id="main" class="flex flex-col bg-red-700 p-2 gap-2 text-white font-bold max-w-screen-md md:mt-3 md:rounded-lg mx-auto">
    <!-- 상단부 -->
    <h1 th:text="#{title.main}" class="bg-white text-center rounded-t-lg text-red-700">
        ★자판기 프로그램★
    </h1>
    <div class="flex flex-row vertical-align-center">
        <h1 th:text="#{product.list}" class="bg-white text-center rounded-r-lg text-red-700 w-1/3">
            ▽ 자판기 상품 목록
        </h1>
        <div class="flex w-7/12 flex-row justify-center items-center">
            한글
            <a href="/changeLocale"
               th:class="|border border-white border-2 rounded-full w-8 h-4 box-content mx-2 ${#locale.language == 'en' ? 'text-right':'text-left'}|"
            >
                <span class="relative -top-1"> ● </span>
            </a>
            ENG
        </div>
        <span
                class="w-1/12 border border-white border-2 rounded-full text-center"
                style="letter-spacing: -0.2rem; text-indent: -0.2rem"
        >
          ----
        </span>
    </div>
    <!-- 중하단부 -->

    <!-- 상품 목록-->
    <div id="productDiv" class="bg-white text-center text-black p-1">
    </div>
    <div class="flex flex-row">
        <div class="w-7/12"></div>
        <h1 class="bg-white text-center w-5/12 rounded-l-lg text-red-700">
            <span th:text="#{total.1}">▲ 총 </span>
            <span id="count" class="text-black">1</span>
            <span th:text="#{total.2}">개의 상품이 있습니다.</span>
        </h1>
    </div>
    <a th:text="#{new}" onclick="goToNew();"
       class="bg-red-500 rounded p-1 px-4 w-fit mx-auto">
        상품 추가하기!
    </a>
</div>

<div id="edit" class="flex flex-col bg-red-700 p-2 gap-2 text-white font-bold" style="display:none;">
    <h1 th:text="#{title.edit}" class="text-center text-white">
        자판기 상품 수정
    </h1>
    <form class="flex flex-col gap-2">
        <label>
            <span th:text="|#{name}:|">상품명:</span>
            <input class="w-full rounded p-0.5 text-black" id="editItemName" name="name" type="text"
                   required/>
        </label>
        <label>
            <span th:text="|#{price}:|">가격:</span>
            <input class="w-full rounded p-0.5 text-black" id="editItemPrice" name="price" type="number"
                   required/>
        </label>
        <label>
            <span th:text="|#{limitDate}:|">유통기한:</span>
            <input class="w-full rounded p-0.5 text-black" id="editItemLimitDate" name="limit_date"
                   type="date"
                   required/>
        </label>
        <input type="hidden" id="editItemIndex" name="index" />
        <div class="flex flex-row justify-center gap-2">
            <input type="button" onclick="editItem();" class="bg-black rounded p-1 px-4 w-fit" th:value="#{edit.confirm}"/>
            <input type="button" onclick="goToMain();" class="bg-white text-black rounded p-1 px-4 w-fit"
                   th:value="#{back}"/>
        </div>
    </form>
</div>

<div id="new" class="flex flex-col bg-red-700 p-2 gap-2 text-white font-bold" style="display:none;">
    <h1 th:text="#{title.new}" class="text-center text-white">
        자판기 상품 추가
    </h1>
    <form class="flex flex-col gap-2">
        <label>
            <span th:text="|#{name}:|">상품명:</span>
            <input class="w-full rounded p-0.5 text-black" id="newItemName" name="name" type="text" required/>
        </label>
        <label>
            <span th:text="|#{price}:|">가격:</span>
            <input class="w-full rounded p-0.5 text-black" id="newItemPrice" name="price" type="number" required/>
        </label>
        <label>
            <span th:text="|#{limitDate}:|">유통기한:</span>
            <input class="w-full rounded p-0.5 text-black" id="newItemLimitDate" name="limit_date" type="date" required/>
        </label>
        <div class="flex flex-row justify-center gap-2">
            <input type="button" onclick="newItem();" class="bg-black rounded p-1 px-4 w-fit" th:value="#{new.confirm}"/>
            <input type="button" onclick="goToMain();" class="bg-white text-black rounded p-1 px-4 w-fit"
                   th:value="#{back}"/>
        </div>
    </form>
</div>


</body>
<script th:inline="javascript">
    const goToMain = () => {
        document.getElementById("main").style.display = "";
        document.getElementById("new").style.display = "none";
        document.getElementById("edit").style.display = "none";
    }
    const goToEdit = (index) => {
        document.getElementById("main").style.display = "none";
        document.getElementById("new").style.display = "none";
        document.getElementById("edit").style.display = "";
        console.log("요청: ",`/api/get?index=${index}`);
        fetch(`/api/get?index=${index}`).then(res=>res.json()).then(product=> {
            console.log("응답: ",product);
            document.getElementById("editItemName").value = `${product.name}`;
            document.getElementById("editItemPrice").value = `${product.price}`;
            document.getElementById("editItemLimitDate").value = `${product.limit_date}`;
            document.getElementById("editItemIndex").value = `${index}`;
        });
    }
    const goToNew = () => {
        document.getElementById("main").style.display = "none";
        document.getElementById("new").style.display = "";
        document.getElementById("edit").style.display = "none";
        document.getElementById("newItemName").value = "";
        document.getElementById("newItemPrice").value = "";
        document.getElementById("newItemLimitDate").value = "";
    }
    const fetchProducts = () => {
        console.log("요청: ",`/api/products`);
        //상품 가져오기
        fetch('/api/products').then(res=>res.json()).then(json=>{
            console.log("응답: ",json)
            applyProducts(json);

        });
    }
    const applyProducts = (products) => {
        const productDiv = document.getElementById("productDiv");
        if(products.length === 0) {
            productDiv.innerHTML = [[|<h1 >#{product.empty}</h1>|]];
            document.getElementById("count").innerText=products.length;
            return;
        }
        const table = document.createElement("table");
        table.className = "border border-red-700 w-full";
        const thead = document.createElement("thead");
        table.appendChild(thead);
        const theadr = document.createElement("tr");
        theadr.innerHTML = [[|
                <td class="border border-red-700 p-2 text-red-700">#{num}</td>
                <td class="border border-red-700 p-2">#{name}</td>
                <td class="border border-red-700 p-2">#{price}</td>
                <td class="border border-red-700 p-2">#{limitDate}</td>
                <td class="border border-red-700 p-2">#{edit}</td>
                <td class="border border-red-700 p-2">#{remove}</td>
                |]];
        thead.appendChild(theadr);

        const tbody = document.createElement("tbody");
        for(const i in products){
            const tr = document.createElement("tr");
            tr.innerHTML = `
                <td class="border border-red-700 p-2">${1+(+i)}</td>
                <td class="border border-red-700 p-2">${products[i].name}</td>
                <td class="border border-red-700 p-2">${products[i].price}</td>
                <td class="border border-red-700 p-2">${products[i].limit_date}</td>
                <td class="border border-red-700 p-2">
                    <button onclick="goToEdit(${i})"
                       class="bg-blue-500 text-white p-2 px-3 rounded-lg">${[[#{edit}]]}</button>
                </td>
                <td class="border border-red-700 p-2">
                    <button class="bg-red-500 text-white p-2 px-3 rounded-lg" onclick="removeItem(${i})">${[[#{remove}]]}</button>
                </td>`;
            tbody.appendChild(tr);
        }
        table.appendChild(tbody);
        productDiv.innerHTML="";
        productDiv.append(table);
        document.getElementById("count").innerText=products.length;
    }
    const newItem = () => {
        console.log("요청: ",`/api/new`);
        const name = document.getElementById("newItemName").value;
        const price = document.getElementById("newItemPrice").value;
        const limit_date = document.getElementById("newItemLimitDate").value;
        fetch("/api/new", {
            method:"POST",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({name,price,limit_date})
        }).then(res=>res.json()).then(json=>{
            console.log("응답: ",json);
            if(json.status === 'ok')
                alert([[#{message.new}]]);
            else
                alert([[#{message.error}]]);
            fetchProducts();
            goToMain();
        });
    }
    const editItem = () => {
        const name = document.getElementById("editItemName").value;
        const price = document.getElementById("editItemPrice").value;
        const limit_date = document.getElementById("editItemLimitDate").value;
        const index = document.getElementById("editItemIndex").value;

        console.log("요청: ",`/api/edit`);
        fetch("/api/edit", {
            method:"POST",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({name,price,limit_date,index})
        }).then(res=>res.json()).then(json=>{
            console.log("응답: ",json);
            if(json.status === 'ok')
                alert([[#{message.edit}]]);
            else
                alert([[#{message.error}]]);
            fetchProducts();
            goToMain();
        });
    }
    const removeItem = (id) => {
        console.log("요청: ",`/api/remove?index=${id}`);
        fetch(`/api/remove?index=${id}`, {
            method:"DELETE"
        }).then(res=>res.json()).then(json=>{
            console.log("응답: ",json);
            if(json.status === 'ok')
                alert([[#{message.remove}]]);
            else
                alert([[#{message.error}]]);
            fetchProducts();
        });
    }
</script>
</html>
